:root {
  --black: #000000b6;
  --purple: #2e0845;
  --purple-clear:#B721FF;
  --gray: #dededef1;
  --blue-ocean: #20b6d8;
  --blue-dark: #0081d1;
  --yellow: #cccc16;
  --green: #00b418;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(-2000deg, var(--blue-dark) 0%, var(--green) 100%);  
  font-family: 'Poppins', sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

h1 {
  margin-top: 3.2rem;
  margin-bottom: 0.7rem;
  color: var(--gray);
  font-weight: 600;
  font-size: 2.8rem;
}

header {
  padding: 2rem 0rem 1.2rem;
  text-align: center;
}

.hl {
  color:var(--yellow);
  font-weight: 800;
}

.logo {
  color: var(--black);
  font-weight: 200;
  font-size: 2.0rem;
}

.list{
  margin-top: 2rem;
  font-size: 1.9rem;

  display: flex;
  justify-content: center;
  align-content: center;
}

.course {
  display: flex;
  justify-content: center;
  align-content: center;

  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

ul {
  list-style: none;
  list-style-type: none;
  padding: 2rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  transition: 0.3s;
}

a:hover {
 color: var(--yellow);
 opacity: .9;

}

hr {
  border: 1px dotted;
  color: var(--gray);
  opacity: .4;
}

footer {
  text-align: center;
  padding: 6rem 0 2rem;
  color: var(--black);
  bottom: 0;
}

footer p a {
  text-decoration: none;
  color: var(--black);
}